{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="ui container">
    <h1>{{ user.username }}</h1>
    <form class="ui form" method="post" action="{% url 'users:update' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Update</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
