{% load crispy_forms_tags sekizai_tags %}

{% include 'components/modal-window.html' %}
{% include 'components/events/search.html' %}
{% include 'components/events/tags-input.html' %}
{% include 'components/events/datetime-calendar.html' %}
{% include 'components/events/event-form.html' %}

{% addtoblock "js_scripts" %}
<script type="text/x-template" id="entry-form-template">
    <form class="ui form">
        <div class="ui three fields">
            <div class="required field">
                <template v-if="create">
                    <label>{% trans 'Event' %}</label>
                    <div class="ui action input">
                        <search-input ref="configSelect" :config="entry.config" @value-changed="configChanged" :url="configSearchUrl" name="config"></search-input>
                        <a class="ui icon button" @click="showModal"><i class="plus icon"></i></a>
                    </div>
                    <modal-window ref="eventModal" @approved="selectConfig">
                        <div class="header">
                            {% trans 'Add a new event type' %}
                        </div>
                        <div class="content">
                            <event-form></event-form>
                        </div>
                    </modal-window>
                </template>
                <template v-else>
                    <label>{% trans 'Event' %}</label>
                    <p>[[ entry.config.event.verbose_name ]]</p>
                </template>
            </div>
            <div class="required field">
                <label>{% trans 'Appreciation' %}</label>
                <select name="like" v-model="entry.like">
                  {% for value, display in Entry.LIKE_CHOICES %}
                    <option value="{{ value }}">{{ display }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="required field">
                <label>{% trans 'Importance' %}</label>
                <select name="importance" v-model="entry.importance">
                  {% for value, display in Entry.IMPORTANCE_CHOICES %}
                    <option value="{{ value }}">{{ display }}</option>
                  {% endfor %}
                </select>
            </div>

        </div>
        <div class="field">
            <datetime-calendar @start-changed="startChanged" @end-changed="endChanged"  :start="entry.start" :end="entry.end"></datetime-calendar>
        </div>
        <div class="field">
            <label>Comment</label>
            <textarea name="comment" v-model="entry.comment" placeholder="input your comment here..."></textarea>
        </div>
        <div class="ui two fields">
            <div class="field">
                <label>URL</label>
                <input name="comment" v-model="entry.detail_url" placeholder="An optional detail url for the entry">
            </div>
            <div class="field">
                <label>{% trans 'tags' %}</label>
                <tags-input ref="tagsSelect" @value-changed="tagsChanged" :url="tagsListUrl" name="tags" :tags="entry.tags"></tags-input>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="public-checkbox" v-model="entry.is_public">
              <label for="public-checkbox">{% trans 'make this entry publicly viewable' %}</label>
            </div>
        </div>
        <button class="ui button">Submit</button>
        <span v-if="score > 0" class="green text score"><i class="smile icon"></i> +[[ score ]]</span>
        <span v-if="score == 0" class="score"><i class="meh icon"></i> 0</span>
        <span v-if="score < 0" class="red text score"><i class="frown icon"></i> [[ score ]]</span>
    </form>

</script>
<script type="text/javascript">
    Vue.component('entry-form', {
        template: '#entry-form-template',

        delimiters: ['[[', ']]'],
        props: {
            entry: {
                type: Object,
                default: function(){
                    return {
                        id: null,
                        start: null,
                        end: null,
                        comment: '',
                        detail_url: null,
                        is_public: false,
                        like: 0,
                        importance: 1,
                        config: null,
                        tags: [],
                    }
                },
            },
        },
        data: function(){
            return {
                configSearchUrl: '/api/v1/search?q={query}&type=config',
                tagsListUrl: '{% url "api:v1:events:tags-search" %}?q={query}',
            }
        },
        mounted: function () {
            var vm = this;
            $(this.$el).form({
                fields: {
                    start     : 'empty',
                    event   : 'empty',
                    importance : 'empty',
                    like : 'empty',
                    start : 'empty',
                },
                inline : true,
                onSuccess: function(e){
                    e.preventDefault();
                    vm.submit();
                },
            })
        },
        methods: {
            startChanged: function(value){
                this.entry.start = value;
            },
            endChanged: function(value){
                this.entry.end = value;
            },
            configChanged: function(value){
                this.entry.config = parseInt(value);
            },
            tagsChanged: function(value){
                if (!!value){
                    this.entry.tags = value.split(',');
                } else {
                    this.entry.tags = [];
                }
            },
            showModal: function(value){
                var vm = this;
                $(vm.$refs.configModal.$el).modal('show');
            },
            selectConfig: function(data){
                this.$refs.configSelect.update(data)
            },
            submit: function(){
                var vm = this;
                let payload = {
                    comment: this.entry.comment,
                    like: this.entry.like,
                    importance: this.entry.importance,
                    detail_url: this.entry.detail_url,
                    is_public: this.entry.is_public,
                    tags: this.entry.tags,
                    end: null,
                }
                try {
                    payload.start = this.entry.start.toISOString();
                } catch (e) {
                    payload.start = this.entry.start;
                }
                try {
                    payload.end = this.entry.end.toISOString();
                } catch (e) {
                    payload.end = this.entry.end;
                }
                var method = "POST";
                var url = '{% url "api:v1:events:entries-list" %}';
                if (!!this.create){
                    payload.config = this.entry.config;
                } else {
                    payload.config = this.entry.config.id;
                    var method = "PUT";
                    var url = this.entry.update_url;

                }
                $.ajax({
                    url: url,
                    data: JSON.stringify(payload),
                    type: method,
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(data){
                        vm.$emit('success', payload, data);
                    }
                });

            }
        },
        computed: {
            score: function(){
                return this.entry.like * this.entry.importance;
            },
            create: function(){
                return !this.entry.id;
            }
        }

    });
</script>


{% endaddtoblock %}
