{% load crispy_forms_tags sekizai_tags %}
{% include 'components/humanized-time.html' %}

{% include 'components/events/score-icon.html' %}
{% include 'components/events/entry-form.html' %}
{% include 'components/modal-window.html' %}

{% addtoblock "js_scripts" %}
<script type="text/x-template" id="feed-entry-template">
    <div :class="['ui', color, attachmentClass, 'attached', 'segment', 'event']">
        <div class="label">
            <i class="newspaper icon"></i>
        </div>
        <div class="content">
            <div class="summary">
                [[ entry.config.event.verbose_name ]]
            </div>
            <div class="extra text">
                <div class="ui stackable grid">
                    <div class="thirteen wide column">
                        <div v-if="!!entry.comment" v-html="entry.comment_rendered"></div>

                        <div class="ui hidden divider"></div>
                        <div class="ui labels tiny" v-if="entry.tags.length > 0">
                            <a v-for="(tag, index) in entry.tags" :class="{ui: true, label: true, basic: !(filters.tags.indexOf(tag) > -1)}">
                                <span class="grey text" @click="$emit('tag-clicked', tag)"><i class="tags icon"></i> [[ tag ]]</span>
                            </a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="ui link list">
                            <p><humanized-time class="item" :time="entry.start"></humanized-time></p>
                            <p><score-icon class="item" :score="entry.score"></score-icon></p>
                            <p v-if="!!entry.detail_url" ><a class="item" :href="entry.detail_url" target="_blank" rel="noreferrer noopener">
                                <i class="linkify icon"></i> {% trans 'details' %}
                            </a></p>
                            <p><a class="item edit" @click="toggleEditForm">
                                <i class="pencil icon"></i> {% trans 'edit' %}
                            </a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" v-if="displayEditForm">
                <div class="ui divider"></div>
                <h4>{% trans 'Edit this entry' %}</h4>
                <entry-form  :entry="entry" @success="updateEntry"></entry-form>
            </div>

        </div>
    </div>


</script>

<script type="text/javascript">
Vue.component('feed-entry', {
    template: '#feed-entry-template',
    delimiters: ['[[', ']]'],
    props: ['entry', 'isFirst', 'isLast', 'filters'],
    data: function(){
        var data = {
            displayEditForm: false,
        }
        data.attachmentClass = '';
        if (this.isFirst){
            data.attachmentClass = 'top';
        }
        if (this.isLast){
            data.attachmentClass = 'bottom';
        }
        return data;
    },
    methods: {
        toggleEditForm: function(){
            this.displayEditForm = !this.displayEditForm;
        },
        updateEntry: function(payload, data){
            for (var k in data) {
                if (data.hasOwnProperty(k)) {
                   this.entry[k] = data[k];
                }
            }
            this.toggleEditForm()
        },
    },
    computed: {
        color: function(){
            if (this.entry.score == 0){
                return '';
            }
            if (this.entry.score < 0){
                return 'orange';
            }

            if (this.entry.score > 0){
                return 'olive';
            }
        },
    },
});

</script>
{% endaddtoblock %}
