{% load crispy_forms_tags sekizai_tags %}

{% addtoblock "js_scripts" %}
<script type="text/x-template" id="search-input-template">
    <div class="ui search selection dropdown">
        <input type="hidden" :name="name">
        <input class="search" :autofocus="autofocus" type="text">
        <i class="search icon"></i>
        <div class="default text">{% trans 'Select event...' %}</div>
    </div>
</script>
<script type="text/javascript">
    Vue.component('search-input', {
        template: '#search-input-template',

        props: {
            url: {type: String},
            autofocus: {type: Boolean, default: true},
            name: {type: String, default: 'search'},
        },
        mounted: function () {
            var vm = this
            $(this.$el).dropdown({
                apiSettings: {
                    url: vm.url,
                },
                onChange: function(value) {
                    vm.$emit('value-changed', value)
                },
            });
        },
        methods: {
            behaviour: function(behaviour, arg1, arg2, arg3, arg4){
                $(this.$el).dropdown(behaviour, arg1, arg2, arg3, arg4);
            },
        }
    });
</script>
{% endaddtoblock %}
