{% load crispy_forms_tags sekizai_tags %}

{% addtoblock "js_scripts" %}
<script type="text/x-template" id="tags-input-template">
    <div class="ui fluid multiple search selection dropdown">
      <input :name="name" type="hidden">
      <input class="search"  type="text">
      <i class="dropdown icon"></i>
      <div class="default text">{% trans 'Input your tags...' %}</div>
      </div>
    </div>
</script>

<script type="text/javascript">
Vue.component('tags-input', {
    template: '#tags-input-template',

    props: {
        url: {type: String},
        name: {type: String, default: 'search'},
        tags: {default: ''},
    },
    mounted: function () {
        var vm = this
        $(this.$el).dropdown({
            apiSettings: {
                url: vm.url,
                saveRemoteData: false,
            },
            keys: {
                delimiter: 32,
            },
            allowAdditions: true,
            onChange: function(value) {
                vm.$emit('value-changed', value)
            },
        });

        if (!!this.tags){
            try {
                $(this.$el).dropdown('set exactly', this.tags.split(','));

            } catch (e){
                // array passed
                $(this.$el).dropdown('set exactly', this.tags);
            }

        }
    },
    methods: {
        behaviour: function(behaviour, arg1, arg2, arg3, arg4){
            $(this.$el).dropdown(behaviour, arg1, arg2, arg3, arg4);
        },
        add: function(tag){
            $(this.$el).dropdown('set selected', [tag]);
        },
        remove: function(tag){
            $(this.$el).dropdown('remove selected', tag);
        },
    }
});

</script>
{% endaddtoblock %}
