{% extends "base.html" %}
{% load crispy_forms_tags sekizai_tags %}

{% block content %}
    {% include 'components/events/entry-form.html' %}
    <div class="ui stackable centered grid">
        <div class="ui ten wide column" id="entry-form">
            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="entry">{% trans 'Entry' %}</a>
                <a class="item" data-tab="event">{% trans 'Event' %}</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="entry">
                <entry-form @success="redirectToTimeline"></entry-form>
            </div>
            <div class="ui bottom attached tab segment" data-tab="event">
                <event-form></event-form>
            </div>
        </div>
    </div>
    {% addtoblock "js_scripts" %}
        <script type="text/javascript">
        var v = new Vue({
            el: '#entry-form',
            mounted: function(){
                $(this.$el).find('.menu .item').tab();
            },
            methods: {
                redirectToTimeline: function(payload, data){
                    window.location.href = '{% url "events:timeline" %}';

                }
            }
        })
        </script>
    {% endaddtoblock %}
{% endblock %}
