{% extends "base.html" %}
{% load crispy_forms_tags sekizai_tags %}

{% block content %}
    <div class="ui container">
        <form class="ui form" id="entry-form">
            <div class="ui three fields">
                <div class="required field">
                    <label>{% trans 'Event' %}</label>
                    <div class="ui action input">
                        <search-input ref="eventSelect" @value-changed="eventChanged" :url="configSearchUrl" name="event"></search-input>
                        <a class="ui icon button" @click="showModal"><i class="plus icon"></i></a>
                    </div>
                    <modal-window ref="eventModal" @approved="selectEvent">
                        <div class="header">
                            Add a new event type
                        </div>
                        <div class="content">
                            <event-form></event-form>
                        </div>
                    </modal-window>
                </div>
                <div class="required field">
                    <label>{% trans 'Appreciation' %}</label>
                    <select name="like" v-model="file.like">
                      {% for value, display in Entry.LIKE_CHOICES %}
                        <option value="{{ value }}">{{ display }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="required field">
                    <label>{% trans 'Importance' %}</label>
                    <select name="importance" v-model="file.importance">
                      {% for value, display in Entry.IMPORTANCE_CHOICES %}
                        <option value="{{ value }}">{{ display }}</option>
                      {% endfor %}
                    </select>
                </div>

            </div>
            <div class="field">
                <datetime-calendar @start-changed="startChanged" @end-changed="endChanged" ></datetime-calendar>
            </div>
            <div class="field">
                <label>Comment</label>
                <textarea name="comment" v-model="file.comment" placeholder="input your comment here..."></textarea>
            </div>
            <div class="ui two fields">
                <div class="field">
                    <label>URL</label>
                    <input name="comment" v-model="file.detailUrl" placeholder="An optional detail url for the entry">
                </div>
                <div class="field">
                    <label>{% trans 'tags' %}</label>
                    <tags-input ref="tagsSelect" @value-changed="tagsChanged" :url="tagsListUrl" name="tags"></tags-input>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" id="public-checkbox" v-model="file.isPublic">
                  <label for="public-checkbox">{% trans 'make this entry publicly viewable' %}</label>
                </div>
            </div>
            <button class="ui button">Submit</button>
            <span v-if="score > 0" class="green text score"><i class="smile icon"></i> +[[ score ]]</span>
            <span v-if="score == 0" class="score"><i class="meh icon"></i> 0</span>
            <span v-if="score < 0" class="red text score"><i class="frown icon"></i> [[ score ]]</span>

        </form>
    </div>
    <script type="text/x-template" id="search-input-template">
        <div class="ui search selection dropdown">
            <input type="hidden" :name="name">
            <input class="search"  type="text">
            <i class="search icon"></i>
            <div class="default text">Select event...</div>
        </div>
    </script>
    <script type="text/x-template" id="tags-input-template">
        <div class="ui fluid multiple search selection dropdown">
          <input :name="name" type="hidden">
          <input class="search"  type="text">
          <i class="dropdown icon"></i>
          <div class="default text">Whitespace separated list of tags...</div>
          </div>
        </div>
    </script>
    <script type="text/x-template" id="event-form-template">
        <form class="ui form">
            <div class="required field">
                <label>{% trans 'Name' %}</label>
                <input type="text" name="name" v-model="name" />
            </div>
            <button class="ui button">Submit</button>
        </form>
    </script>
    <script type="text/x-template" id="modal-window-template">
        <div class="ui modal">
            <slot></slot>
        </div>
    </script>
    <script type="text/x-template" id="datetime-calendar-template">
        <div class="two fields">
          <div class="required field">
            <label>Start</label>
            <div class="ui calendar rangestart">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" name="start" placeholder="Start">
              </div>
            </div>
          </div>
          <div class="field">
            <label>End</label>
            <div class="ui calendar rangeend">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" name="end" placeholder="End">
              </div>
            </div>
          </div>
        </div>
    </script>

    {% addtoblock "js_scripts" %}
    <script type="text/javascript">
        Vue.component('search-input', {
            template: '#search-input-template',

            props: {
                url: {type: String},
                name: {type: String, default: 'search'},
            },
            mounted: function () {
                var vm = this
                $(this.$el).dropdown({
                    debug: true,
                    apiSettings: {
                        url: vm.url,
                        saveRemoteData: false,
                    },
                    onChange: function(value) {
                        vm.$emit('value-changed', value)
                    },
                })
            },
            methods: {
                update: function(config){
                    $(this.$el).dropdown('refresh');
                    $(this.$el).dropdown('set text', config.event.verbose_name);
                    $(this.$el).dropdown('set value', config.id);
                }
            }
        });
        Vue.component('tags-input', {
            template: '#tags-input-template',

            props: {
                url: {type: String},
                name: {type: String, default: 'search'},
            },
            mounted: function () {
                var vm = this
                $(this.$el).dropdown({
                    apiSettings: {
                        url: vm.url,
                        saveRemoteData: false,
                    },
                    keys: {
                        delimiter: 32,
                    },
                    allowAdditions: true,
                    onChange: function(value) {
                        vm.$emit('value-changed', value)
                    },
                })
            },
            methods: {
                update: function(config){
                    $(this.$el).dropdown('refresh');
                    $(this.$el).dropdown('set text', config.event.verbose_name);
                    $(this.$el).dropdown('set value', config.id);
                }
            }
        });
        Vue.component('modal-window', {
            template: '#modal-window-template',

            props: {},
            mounted: function () {
                var vm = this
                $(this.$el).modal();
                this.$on('submit', function(e){
                    vm.approve(e)
                })
            },
            methods: {
                approve: function(data){
                    $(this.$el).modal('hide')
                    this.$emit('approved', data);
                }
            }
        });
        Vue.component('event-form', {
            template: '#event-form-template',

            mounted: function(){
                var vm = this;
                $(this.$el).form({
                    fields: {
                        name     : 'empty',
                    },
                    inline : true,
                    onSuccess: function(e){
                        e.preventDefault();
                        vm.submit(e);
                    },
                })
            },
            data: function(){
                return {
                    name: '',
                }
            },
            methods: {
                submit: function(e){
                    var vm = this;
                    $.ajax({
                        url: '{% url "api:v1:events:configs-list" %}',
                        data: {verbose_name: vm.name},
                        type: 'POST',
                        dataType: 'json',
                        success: function(data){
                            vm.name = '';
                            vm.$parent.$emit('submit', data)
                        }
                    });
                }
            }
        });
        Vue.component('datetime-calendar', {
            template: '#datetime-calendar-template',

            mounted: function () {
                var vm = this
                let start = $(this.$el).find('.rangestart')
                let end = $(this.$el).find('.rangeend')
                start.calendar({
                    type: 'datetime',
                    endCalendar: end,
                    maxDate: new Date(),
                    onChange: function(date, text, mode) {
                        vm.$emit('start-changed', date)
                    },
                });
                end.calendar({
                    type: 'datetime',
                    startCalendar: start,
                    maxDate: new Date(),
                    onChange: function(date, text, mode) {
                        vm.$emit('end-changed', date)
                    },
                });
            },
        });
        new Vue({
            el: '#entry-form',
            delimiters: ['[[', ']]'],
            data:  {
                configSearchUrl: '/api/v1/search?q={query}&type=config',
                tagsListUrl: '{% url "api:v1:events:tags-search" %}?q={query}',
                file: {
                    start: null,
                    end: null,
                    comment: 'trest2',
                    detailUrl: null,
                    isPublic: false,
                    like: 0,
                    importance: 1,
                    event: null,
                }
            },
            mounted: function () {
                var vm = this;
                $(this.$el).form({
                    fields: {
                        start     : 'empty',
                        event   : 'empty',
                        importance : 'empty',
                        like : 'empty',
                        start : 'empty',
                    },
                    inline : true,
                    onSuccess: function(e){
                        e.preventDefault();
                        vm.submit();
                    },
                })
            },
            methods: {
                startChanged: function(value){
                    this.file.start = value;
                },
                endChanged: function(value){
                    this.file.end = value;
                },
                eventChanged: function(value){
                    this.file.event = parseInt(value);
                },
                tagsChanged: function(value){
                    this.file.tags = value.split(',');
                },
                showModal: function(value){
                    $(this.$refs.eventModal.$el).modal('show');
                },
                selectEvent: function(data){
                    this.$refs.eventSelect.update(data)
                },
                submit: function(){
                    let payload = {
                        start: this.file.start.toISOString(),
                        comment: this.file.comment,
                        like: this.file.like,
                        importance: this.file.importance,
                        config: this.file.event,
                        detail_url: this.file.detailUrl,
                        is_public: this.file.isPublic,
                        tags: this.file.tags,
                    }
                    if (!!this.file.end){
                        payload.end = this.file.end.toISOString();
                    }
                    $.ajax({
                        url: '{% url "api:v1:events:entries-list" %}',
                        data: JSON.stringify(payload),
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function(){
                            window.location.href = '{% url "events:log" %}';
                        }
                    });

                }
            },
            computed: {
                score: function(){
                    return this.file.like * this.file.importance;
                }
            }
        })
    </script>
{% endaddtoblock %}
{% endblock %}
