{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="ui container">
        <form class="ui form" id="entry-form">
            <div class="ui three fields">
                <div class="required field">
                    <label>{% trans 'Event' %}</label>
                    <search-input @value-changed="eventChanged" :url="configSearchUrl" name="event"></search-input>
                </div>
                <div class="required field">
                    <label>{% trans 'Appreciation' %}</label>
                    <select name="like" v-model="like">
                      {% for value, display in Entry.LIKE_CHOICES %}
                        <option value="{{ value }}">{{ display }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="required field">
                    <label>{% trans 'Importance' %}</label>
                    <select name="importance" v-model="importance">
                      {% for value, display in Entry.IMPORTANCE_CHOICES %}
                        <option value="{{ value }}">{{ display }}</option>
                      {% endfor %}
                    </select>
                </div>

            </div>
            <div class="field">
                <datetime-calendar @start-changed="startChanged" @end-changed="endChanged" ></datetime-calendar>
            </div>
            <div class="field">
                <label>Comment</label>
                <textarea name="comment" v-model="comment" placeholder="input your comment here..."></textarea>
            </div>
            <div class="field">
                <label>URL</label>
                <input name="comment" v-model="detailUrl" placeholder="An optional detail url for the entry">
            </div>
            <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" id="public-checkbox" v-model="isPublic">
                  <label for="public-checkbox">{% trans 'make this entry publicly viewable' %}</label>
                </div>
            </div>
            <button class="ui button">Submit</button>
        </form>
    </div>
    <script type="text/x-template" id="search-input-template">
        <div class="ui search selection dropdown">
            <input type="hidden" :name="name">
            <input class="search"  type="text">
            <i class="search icon"></i>
            <div class="default text">Select event...</div>
        </div>
    </script>
    <script type="text/x-template" id="datetime-calendar-template">
        <div class="two fields">
          <div class="required field">
            <label>Start</label>
            <div class="ui calendar rangestart">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" name="start" placeholder="Start">
              </div>
            </div>
          </div>
          <div class="field">
            <label>End</label>
            <div class="ui calendar rangeend">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" name="end" placeholder="End">
              </div>
            </div>
          </div>
        </div>
    </script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        Vue.component('search-input', {
            template: '#search-input-template',

            props: {
                url: {type: String},
                name: {type: String, default: 'search'},
            },
            mounted: function () {
                var vm = this
                $(this.$el).dropdown({
                    apiSettings: {
                        url: vm.url
                    },
                    saveRemoteData: false,
                    onChange: function(value) {
                        vm.$emit('value-changed', value)
                    },
                })
            },
        });
        Vue.component('datetime-calendar', {
            template: '#datetime-calendar-template',

            mounted: function () {
                var vm = this
                let start = $(this.$el).find('.rangestart')
                let end = $(this.$el).find('.rangeend')
                start.calendar({
                  type: 'datetime',
                  endCalendar: end,
                  maxDate: new Date(),
                  onChange: function(date, text, mode) {
                      vm.$emit('start-changed', date)
                  },
              });
                end.calendar({
                  type: 'datetime',
                  startCalendar: start,
                  maxDate: new Date(),
                  onChange: function(date, text, mode) {
                      vm.$emit('end-changed', date)
                  },
              });
            },
        });
        new Vue({
            el: '#entry-form',
            delimiters: ['[[', ']]'],
            data:  {
                configSearchUrl: '/api/v1/search?q={query}&type=config',
                start: null,
                end: null,
                comment: 'trest2',
                detailUrl: null,
                isPublic: false,
                like: 0,
                importance: 1,
                event: null,
            },
            mounted: function () {
                var vm = this;
                $(this.$el).form({
                    fields: {
                        start     : 'empty',
                        event   : 'empty',
                        importance : 'empty',
                        like : 'empty',
                        start : 'empty',
                    },
                    inline : true,
                    onSuccess: function(e){
                        e.preventDefault();
                        vm.submit();
                    },
                })
            },
            methods: {
                startChanged: function(value){
                    this.start = value;
                },
                endChanged: function(value){
                    this.end = value;
                },
                eventChanged: function(value){
                    this.event = parseInt(value);
                },
                submit: function(){
                    let payload = {
                        start: this.start.toISOString(),
                        comment: this.comment,
                        like: this.like,
                        importance: this.importance,
                        config: this.event,
                        detail_url: this.detailUrl,
                        is_public: this.isPublic,
                    }
                    if (!!this.end){
                        payload.end = this.end.toISOString();
                    }
                    $.ajax({
                        url: '{% url "api:v1:events:entries-list" %}',
                        data: payload,
                        type: 'POST',
                        dataType: 'json',
                    });

                }
            }
        })
    </script>
{% endblock javascript %}
